<!-- image.html -->            
{% extends "base.html" %}
{% block content %}
          <div class="col-md-9 ">
            <h5>&nbsp;</h5>
            <h3>
                Images
            </h3>
            <h4>&nbsp;</h4>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>
                                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Images Info
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Tag
                            </th>
                        </tr>
                    </thead>
                    <tbody style=" white-space:nowrap; font-size: 14px;">
                    {% for image in imagelist %}
                        <tr>
                            <td>
                               {{ image.Id | truncatechars:20 }} 
                            </td>
                            <td>
                                {{ image.Created }}
                            </td>                                
                            <td >
                                {% for Tag in image.Tag %}
                                <span class="label label-primary">{{ Tag }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}                        
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
