<!-- stats.html -->
{% extends "base.html" %}

{% block header %}
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="/static/js/chart.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
            <div class="col-md-9 ">
                <h5>&nbsp;</h5>
                <h3>
                    Container statistics
                </h3>
                <h4>&nbsp;</h4>

                <div class="col-md-6">
                    <div id="memory" style="height:280px;"></div>
                </div>
                <div class="col-md-6">
                    <div id="cpu" style="height:280px;"></div>
                </div>
                <div class="col-md-6">
                    <div id="network" style="height:280px;"></div>
                </div>
                <div class="col-md-6">
                    <div id="block" style="height:280px;">
                        <table class="table table-striped ">
                    <caption style="font-size: 10px"> <span class="glyphicon glyphicon-list" > </span> Processes </caption>
                    <thead style="font-size: 14px">
                        <tr>
                            <th>
                                UID
                            </th>
                            <th>
                                PID
                            </th>
                            <th>
                                STIME
                            </th>
                            <th>
                                TIME
                            </th>
                            <th>
                                CMD       
                            </th>
                        </tr>
                    </thead>
                    <tbody style=" white-space:nowrap;  font-size: 12px">
                        {% for process in processlist %}
                        <tr>
                            <td>
                                {{ process.uid }}
                            </td>
                            <td>
                                {{ process.pid }}
                            </td>
                            
                            <td>
                                {{ process.stime }}
                            </td>
                            <td>
                                {{ process.time }}
                            </td>
                            <td>
                                {{ process.cmd }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    </div>
                </div>    
            </div>
{% endblock %}

