<!-- volume.html -->            
{% extends "base.html" %}
{% block content %}
          <div class="col-md-9 ">
            <h5>&nbsp;</h5>
            <h3>
                Volumes
            </h3>
            <h4>&nbsp;</h4>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>
                                <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Volumes Info
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Driver
                            </th>
                            <th>
                                Labels
                            </th>
                            <th>
                                Moutpoint
                            </th>
                        </tr>
                    </thead>
                    {% for volume in volumelist %}
                    <tbody style=" white-space:nowrap; font-size: 14px">
                        <tr>
                            <td>
                               {{ volume.Name | truncatechars:20 }} 
                            </td>
                            <td>
                                {{ volume.Driver }}
                            </td>                                
                            <td >
                                <span class="label label-primary">{{ volume.Labels }}</span>
                            </td>
                            <td>
                                {{ volume.Mountpoint }}
                            </td>
                        </tr>                        
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
